<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="" /><!--the connection string to the event hub-->
    <add key="fileUrl" value="" /> <!--url string to the csv file to be simulated-->
    <add key="hasHeaders" value="true" /><!--true or false, the csv file has a header row of field names-->
    <add key="numLinesPerBatch" value="10" /><!--the number of lines to send in each batch-->
    <add key="sendInterval" value="1000" /><!--the interval in milliseconds between batches-->
    <add key="timeField" value="0" /><!--the 0-based index of the field containing time values-->
    <add key="setToCurrentTime" value="true" /><!--true or false, reset time values to the current time-->
    <add key="dateFormat" value="" /><!--optional, only used if if setToCurrentTime is true. In that case the date values will be formatted as strings according to this formatter. If this value is empty, date values will be epochs. Formatting string can be standard or custom. See https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings and https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings-->
    <add key="dateCulture" value="" /><!--optional, examples: "en-US","es-ES","fr-FR"; only used if if setToCurrentTime is true and dateFormat is not empty. In that case date strings will be formatted according to the culture specified in this setting or the default culture if empty-->
    <add key="repeatSimulation" value="true" /><!--true or false, repeat simulation when the end of the file is reached-->
  </appSettings>
</configuration>
