<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="" /><!--the connection string to the event hub-->
    <add key="fileUrl" value="" /> <!--url string to the csv file to be simulated-->
    <add key="hasHeaders" value="true" /><!--true or false, the csv file has a header row of field names-->
    <add key="numLinesPerBatch" value="10" /><!--the number of lines to send in each batch-->
    <add key="sendInterval" value="1000" /><!--the interval in milliseconds between batches-->
    <add key="timeField" value="0" /><!--the 0-based index of the field containing time values-->
    <add key="setToCurrentTime" value="true" /><!--true or false, reset time values to the current time-->
    <add key="dateFormat" value="" /><!--optional, format string to convert time strings in the timeField to date values-->
    <add key="repeatSimulation" value="true" /><!--true or false, repeat simulation when the end of the file is reached-->
  </appSettings>
</configuration>
